<h1>User info</h1>
<div>

  <%= @user.name %>
  <%= @user.introduction %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
</div>
<h1>Books</h1>
<p>Title</p>
<p>Opinion</p>
<% @books.each do |book| %>
  <div>
    <%=link_to  book.title,book_path(book.id) %>
    <%= book.body %>
  </div>
<% end %>


