<%= render 'layouts/error_messages', model: book %>

<h1>User info</h1>
<%= image_tag user.get_profile_image(100,100) %>
<div>
  <th>name</th>
  <%= user.name %>
  <th>introduction</th>
  <%= user.introduction %>
  <p><%= link_to "プロフィール編集", edit_user_path(user.id) %></p>
</div>

<h1>New book</h1>
<%= form_with model: book,url:books_path,method: :post do |f| %>
  <div class = "book_title">Title</div>
  <%= f.text_field :title ,value: "" %>
  <div class = "body">Opinion</div>
  <%= f.text_area :body,value:  "" %>
  <%= f.submit "Create Book" %>
<% end %>
