<h1>New book</h1>
<%= form_with model: @book do |f| %>
  <div class = "book_title">Title</div>
  <%= f.text_field :title %>
  <div class = "body">Opinion</div>
  <%= f.text_area :body %>
  <%= f.submit "Create Book" %>
<% end %>

<h1>Books</h1>
<p>Title </p>
  <p>Opinion </p>
<% @books.each do |book|%>
<div>
  <%= link_to book.title,book_path(book.id) %>
  <%= book.body %>
</div>
<% end %>