<%= render partial: "list", locals: { book: @book, user: @user } %>

<h1>Book detail</h1>
<div>
  <%= link_to user_path(@user.id) do %>
    <%= image_tag @book.user.get_profile_image(100,100) %>
    <p><%= @book.user.name %></p>
  <% end %>
  <p><%= link_to  @book.title ,book_path(@book.id) %></p>
  <p><%= @book.body %></p>
  <% if @book.user == current_user %>
    <%= link_to "Edit",edit_book_path(@book.id) %>
    <%= link_to "Destroy", book_path(@book.id),method: :delete %>
  <% end %>
</div>
